/* 
    Document   : style_tableview
    Created on : 2/10/2013, 05:00:03 PM
    Author     : fvelazquez
    Description:
        Purpose of the stylesheet follows.
        http://java-buddy.blogspot.mx/2013/05/hide-empty-cell-of-tableview-with-css.html
*/

.table-row-cell:empty {
    -fx-background-color: lightyellow;
}
  
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

